.my-alok {
    background-color: aqua;
    color:fuchsia;
}

.my-hayato {
    background-color: aquamarine;
    color:midnightblue
}

#my-kelly {
    background-color: rgb(56, 3, 84);
    color:beige;
}

.my-web {
    background-color: blanchedalmond;
}

.my-clu {
    background-color: darkkhaki;
    color: black;
}

.my-moco {
    background-color: lawngreen;
    color:rgb(7, 34, 239);
}

.my-K {
    background-color: tomato;
    color:darkblue;
}


P {
    background-color: darkolivegreen;
    color:azure;
}